.border-phone{
  border: 1rem solid white;
}


@media (min-width: 992px) {
  .custom-justify-content-between   {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 702px) {
  .displayNone   {
    display: none;
  }
}
  
